@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #efede8;
}
@media screen and (max-width: 400px) {
  .base-stat{
    margin-top: 2rem;
    width: 100px;
}
}
.container{
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.left-content,.right-content{
    flex-basis: 50%;
    
}
.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,0.5fr));
    grid-gap:2rem;
    justify-content: center;
}

.card{
    width: 300px;
    background-color:#9EDEF9;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 100px;
    transition: transform .2s;
}
.card:hover{
background-color: rgb(237, 188, 235);
transform: scale(1.10);
}
/* @keyframes example{
  0% {
    transform: scale(1) ;
  }
  100% {
    transform: scale(1.10) ;
  }
} */
/* .card::after{
  width: 400px;
  height: 400px;
  } */
.right-content{
    width: 30%;
    text-align: center;
    color: black;
    position: fixed;
    top:100px;
    right: 10px;
    
}
.right-content img{
    margin: 1.5rem;
    height: 160px;
}
.right-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.abilities{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.abilities .group{
    background-color: #b74555;
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
}
.base-stat{
    margin-top: 2rem;
    width: 500px;
}
.btn-group{
    display: flex;
    justify-content: center;
}
.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #b74555;
    border-radius: 8px;
    transition: transform .5s;
}
 button :hover{
  transform: scale(1.10);
  }